.btn-default{
    padding: 11px 44px;
    border-radius: 4px;
    background-color: #F0F6FF;
    color: #3861FB;
}
.btn-save{
    padding: 11px 44px;
    border-radius: 4px;
    background-color: #3861FB;
    color: #FFFFFF;
}
