.btn-default{
    width: 215px;
    padding: 11px 4px;
    border-radius: 4px;
    background-color: #F0F6FF;
    color: #3861FB;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.btn-save{
    width: 215px;
    padding: 11px 2px;
    border-radius: 4px;
    background-color: #3861FB;
    color: #FFFFFF;
    margin-bottom: 5px;
}
.btn-option{
    background-color: #EBEBEB;
    color: #707070 ;
    position: relative;
    margin-right: 7px;
    padding-right: 30px;
    margin-top: 4px;
    &:hover{
        background-color: #e4e3e3;
    }
    &:before {
        position: absolute;
        content: url(/public/images/icons/dagger.svg);
        right: 7px;
        bottom: 1px;
    }
}
.btn-primary{
    margin-right: 15px;
}
.btn-detail{
    border: #FFFFFF;
    background-color: #FFFFFF;
    color: #3861FB;
    border-radius: 0px;
}