.content{
    &__box{
        display: inline-block;
        justify-content: space-between;
    }
    
}

.info-box{
    display: inline;
}
select{
    padding: 5px;
    width: 225px;
    border-color: #DDDDDD;
    border-radius: 4px;
    color: #858585;
}
option{
    color: #858585;
    border-radius: 0px;

}
.settings{
    &__container{
        padding-bottom: 40px ;
    }
    &__item{
        padding-bottom: 20px;
    }
    &__title{
        padding-bottom: 20px;
    }
    &__details{
        width: 336px;
        font-size: 14px;
    }
    &__ad{
        padding-bottom: 50px;
    }
}


