.content{
    &__box{
        display: inline-block;
        justify-content: space-between;
    }
    
}
.article{
    &__subtext{
        font-size: 14px;
    }
}
.info-box{
    display: inline;
}
select{
    padding: 5px;
    width: 225px;
    border-color: #DDDDDD;
    border-radius: 4px;
    color: #858585;
}
option{
    color: #858585;
    border-radius: 0px;

}


